@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Work+Sans:wght@300;500&display=swap");

body {
  margin: 0;
  overflow: hidden;
  font-family: "Work Sans", sans-serif;
  background: radial-gradient(
    circle,
    rgba(7, 73, 71, 1) 2%,
    rgb(14, 44, 42) 90%
  );
}

canvas {
  display: block;
  background-color: #f0f0f0;
  max-height: calc(100vh - 100px);
  margin: 50px auto;
}

.footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: white;
  font-size: 12px;
  text-align: right;
  font-family: monospace;
}

.footer a {
  color: white;
  text-decoration: none;
}